<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acceder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formLogin" (ngSubmit)="iniciar_sesion()" >
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button block type="submit" [disabled]="!formLogin.valid" color="danger" expand="block">Iniciar sesión</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">¿Olvidó la contraseña?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>