<ion-header>
  <ion-toolbar>
    <ion-title>Editar Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formEditarEmpresa" (ngSubmit)="editar_empresa()">
    <ion-item lines="full">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input formControlName="descripcion" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="direccion" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Longitud</ion-label>
      <ion-input formControlName="longitud" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Latitud</ion-label>
      <ion-input formControlName="latitud" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Clasificacion de Empresa</ion-label>
      <ion-select formControlName="cod_clasificacion_empresa" required></ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!formEditar.valid" color="danger" expand="block">Editar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
