<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ver Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formVerEmpresa">

    <ion-item lines="full">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input formControlName="descripcion" type="text" readonly></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="direccion" type="text" readonly></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Longitud</ion-label>
      <ion-input formControlName="longitud" type="text" readonly></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Latitud</ion-label>
      <ion-input formControlName="latitud" type="text" readonly></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Clasificacion de Empresa</ion-label>
      <ion-input formControlName="clasificacion_empresa" type="text" readonly></ion-input>
    </ion-item>

    <ion-item (click)="verMedidasDeEmpresa()" detail="true">
      <p>Ver medidas sanitarias</p>
    </ion-item>

  </form>

</ion-content>
