<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRecuperarContrasenha" (ngSubmit)="recuperarContrasenha()" >
    <ion-item lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input formControlName="email" type="text" prequired></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!formRecuperarContrasenha.valid" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Por favor provea una dirección de correo electrónico que usted utilizaba al momento de registrarse al sistema.
    </small>
  </form>
</ion-content>
