<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic 4 Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrarse</ion-button>

        <span class="divider line one-line">o</span>

        <span class="already">¿Ya eres usuario?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar sesión</ion-button>

        <span class="divider line one-line">test</span>
        <span class="divider line one-line">test</span>
        <span class="divider line one-line">test</span>
        <ion-button [routerLink]="['/listar-empresas']" expand="block" color="primary">Listar empresas</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
