<ion-header>
  <ion-toolbar>
    <ion-title>Empresas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="formRegistrarEmpresa" (ngSubmit)="registrarEmpresa()">
    <ion-item lines="full">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input formControlName="descripcion" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="direccion" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Longitud</ion-label>
      <ion-input formControlName="longitud" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Latitud</ion-label>
      <ion-input formControlName="latitud" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Clasificacion de Empresa</ion-label>
      <ion-select formControlName="id_clasificacion_empresa" ok-text="Seleccionar" cancel-text="Cancelar">
        <ion-select-option *ngFor="let clasificacion of clasificacionEmpresas$" value="{{clasificacion.id_clasificacion_empresa}}">{{clasificacion.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button [routerLink]="['/registrar-medidas']" expand="block" size="small" color="secondary">Registrar medidas sanitarias</ion-button>
    
    <ion-row>
      <ion-col>
        <ion-button (click)="obtenerUbicacion()" expand="block" size="small" color="secondary" >Obtener ubicacion</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!formRegistrarEmpresa.valid" color="danger" expand="block">Guardar</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>